{% extends 'base.html' %}
{% block content %}
<div class="layout" x-data="{}">
    <div class="queue">
        <h2>Requested Items</h2>
        <ul>
        {% for m in req.modules %}
            <li>
            {% if m.completed %}&#10003;{% else %}&#9633;{% endif %}
            <a href="{{ url_for('view_request', token=req.token, module=m.id) }}">{{ m.description }}</a>
            </li>
        {% endfor %}
        </ul>
        {% if req.expires_at %}
            <p class="expiration">
                Expires {{ req.expires_at.strftime('%Y-%m-%d %H:%M UTC') }}
            </p>
        {% else %}
            <p class="expiration">No expiration.</p>
        {% endif %}
    </div>
    <div class="module">
        {% if selected %}
            {{ module_html|safe }}
        {% else %}
            <p>All tasks complete!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
